{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}


{% block content%}

<center>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h3>{% trans "Log-in" %}</h3>

        <p>{% blocktrans %}If you don't hane an account, You can here <a href="{{ signup_url }}">sign
            up</a>{% endblocktrans %}</p>

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <input type="submit" value="{% trans 'Sign In' %}">
          <input type="reset" id="reset" value="Clean">
          <br>
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>

</center>
{% endblock content %}