{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}


{% block content%}

<center>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h3>{% trans "Log-in" %}</h3>

        <p>{% blocktrans %}If you don't hane an account, You can here <a
            href="{{ signup_url }}">sign-up</a>{% endblocktrans %}</p>

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}

          <label for="id_login">Username:</label><br>
          <input type="text" name="login" placeholder="Username" autocomplete="username" required id="id_login">
          <label for="id_password">Password:</label><br>
          <input type="password" name="password" placeholder="Password" autocomplete="current-password" required
            id="id_password">

          <input type="hidden" name="next" value="/booking_form/" />

          <input type="submit" value="{% trans 'Sign In' %}">
          <input type="reset" id="reset" value="Clean">
          <br>
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>

</center>
{% endblock content %}