/* Google fonts import */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}



.navbar {
    background-color: rgb(224, 205, 205);
    line-height: 35px;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
}

footer {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
    background-color: rgb(224, 205, 205);
}

a:hover {
    box-shadow: 0 12px 16px 0 rgb(156, 156, 150), 0 17px 50px 0 rgb(186, 185, 188);

}