/* Google fonts import */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}


body {
    background: url("../images/paw-print-941498_640.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*header style*/
.navbar {
    background-color: rgb(224, 205, 205);
    line-height: 35px;
    z-index: 99;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}



/*index page*/
.main_text {
    padding: 25px;
    font-size: 24px;
    flex-wrap: nowrap;
    margin: 20vh 20vw;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);

    /* animates added */
    animation-name: main_text;
    animation-duration: 7s;
    animation-fill-mode: backwards;
}

/* her is zoom mainText in main page */
@keyframes main_text {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}

/*about page*/

/*photo of doctors*/
.doctor-ava {
    background: url("../images/qqq.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 500px;
    margin: 5px;
    object-fit: contain;
    overflow: hidden;
    position: relative;
}

.doctor-jack {
    background: url("../images/ector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 500;
    margin: 5px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.doctor-Annalise {
    background: url("../images/vettsst.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 500;
    margin: 5px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.dc {
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 7vh;
    font-size: 24px;
    font-style: italic;
    ;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #070707;
    font-style: italic;
}

/*Form styling*/

form {
    margin: auto 10vw;
}

label {
    font-size: large;
    font-family: fantasy;
    letter-spacing: 2px;
    color: #000000;
}

input {
    border: 2px solid black;
    font-weight: 200;
    line-height: 25px;
    font-size: large;
    padding: 2px 10px;
}

input:focus {
    border: 5px double;
}

a {
    padding: 0px 25px;
}

#submit #reset {
    font-size: 18px;
}

/*footer style*/
footer {
    padding-left: 10px;
    background-color: rgb(224, 205, 205);
    margin-top: 7px;
}

/*The social-links*/

.social {}

.list-inline-item {
    margin: 5px;
    font-size: medium;
}

.list-inline {
    margin-top: 2vh;
}

h6 {
    font-weight: 900;
}

.row {
    margin-right: calc(0* var(--bs-gutter-x));
    margin-left: calc(0* var(--bs-gutter-x));
}

/*Hover.css*/
a:hover {
    box-shadow: 0 8px 8px 0 rgb(145, 139, 139), 0 1px 10px 0 rgb(96, 1, 1);
}

#submit:hover,
#reset:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 01), 0 17px 50px 0 rgba(0, 0, 0, 1);
}

/*signin page*/

.signin {
    text-align: center;
}

/*login page*/

.login {
    text-align: center;
    margin: 120px 20vw;
}

/*logout page*/
#logout {
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 32px;
    margin: 40vh auto;
    width: 50%;
    text-align: center;
}


/*User page*/

.user {
    width: 50%;
    text-align: left;
}

#user_input {
    margin: 2vh auto;
}

/*message page*/
.message {
    font-size: 24px;
    margin: 3vh auto;
    width: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5vh 5vw;
    line-height: 10vh;
}