{% extends "base.html" %}
{% block content%}

<section class="container-fluid">
    <div class="row featurette">
        <div class="col-md-2 bg-color-conferences section-column">
            <h4 class="section-heading uppercase">
                The funders
            </h4>
        </div>
    </div>
    <div class="col-md-10 bg-color-conferences section-column">
        <div class="row" id="dc_ava">
            <div class="doctor-ava col-md-4"></div>
            <div class="col-md-7">
                <p class="dc"><span>Doctor Ava Dom</span> graduated from the University of DOMMDONN in 1989
                    with a Master of Veterinary Science and locumed extensively throughout the USA before moving
                    down to New York in 1995.

                    In 2000, after a further five years study, Ava achieved RKVS board certification in animal
                    internal medicine and is currently the only veterinarian in the surrounding area to have
                    this
                    qualification. Ava also has a degree in Animal Behaviour and is a government approved
                    Local Vet.

                    Between 2000 and 2007 Jon worked in a bag companion Vet hospital, seeing both first opinion
                    and
                    a variety referral cases from University.
                </p>
            </div>
        </div>
        <div class="row" id="dc_jack">
            <div class="col-md-4 doctor-jack"></div>
            <div class="col-md-7">
                <p class="dc"><span>Doctor Jack Dom</span>In 1992, after a further four years study, John
                    achieved RKK board certification in animal
                    internal medicine and is currently the only veterinarian in the surrounding area to have
                    this
                    qualification. Jack also has a degree in Animal therapy and is a government approved
                    Local Vet.

                    Between 2005 and 2010 Jon worked in a VetRoad hospital, seeing both first opinion and
                    a variety referral cases from University.</p>
            </div>
        </div>
        <div class="row" id="dc_Annalis">
            <div class="col-md-4 doctor-Annalise"></div>
            <div class="col-md-7">
                <p class="dc"><span>Doctor Annalise Dom</span>In 1983, after a further seven years study, Annalise
                    achieved DRD board certification in house animals
                    internal medicine and is currently the only veterinarian in the surrounding area to have
                    this
                    qualification. Annalise also has a degree in heart operation for house animals and is a
                    government approved
                    international Vet.

                    Between 1995 and 2008 Annalise was the CEO of international-vets clinic, seeing both first
                    opinion and
                    a variety referral cases from international University.</p>
            </div>
        </div>
    </div>
    </div>

</section>

{%endblock%}