{% extends "base.html" %}
{% block content%}

<section>
    <center>
        <form id=" appointment" method="POST" action="{% url 'message' %}">
            {%csrf_token%}
            <div class="row user">
                <div class="col-6"></div>
                <label for="fname">Your full name:</label>
                <input type="'fname" id="fname" name="fname" placeholder="Your full pet_name" required>

                <label for="pet_name">Your pet name:</label>
                <input type="'text" id="pet_name" name="pet_name" placeholder="Pet name" required>

                <label for="date">select day:</label><br>
                <input type="date" name="date" id="date" required><br>


                <label for="time">Schedule you appointment</label>
                <select class="from-control" name="time" required>
                    <option value="8 AM"> 8:00</option>
                    <option value="9 AM"> 9:00</option>
                    <option value="10 AM"> 10:00</option>
                    <option value="11 AM"> 11:00</option>
                    <option value="12 PM"> 12:00</option>
                    <option value="1 PM"> 13:00</option>
                    <option value="2 PM"> 14:00</option>
                </select>

                <br>
                <label for="text">Type a brief description here of your pet:</label>
                <textarea name="text" rows="10" cols="13" placeholder="type here your description"></textarea>
                <div id="user_input">
                    <center>
                        <input type="submit" id="submit" value="Submit" class="appointment-button">
                        <input type="reset" id="reset" value="Reset" class="appointment-button">
                    </center>
                </div>
            </div>
        </form>
    </center>
</section>

<center>
    <div id="cronofy-date-time-picker"></div>
</center>

</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{%endblock%}