{% extends "base.html" %}
{% block content%}

<section>
    <center>
        <form id=" appointment" method="POST" action="{% url 'user' %}">
            {%csrf_token%}
            <div class="row user">
                <div class="col-6"></div>
                <label for="fname">Your full name:</label>
                <input type="'fname" id="fname" name="fname" placeholder="Your full pet_name" required>

                <label for="pet_name">Your pet name:</label>
                <input type="'text" id="pet_name" name="pet_name" placeholder="Pet name" required>

                <label for="date">select day:</label><br>
                <input type="date" name="date" id="date" required><br>


                <label for="time">Schedule you appointment</label>
                <select class="from-control" name="time" required>
                    <option value="8 AM"> 8:00</option>
                    <option value="9 AM"> 9:00</option>
                    <option value="10 AM"> 10:00</option>
                    <option value="11 AM"> 11:00</option>
                    <option value="12 PM"> 12:00</option>
                    <option value="1 PM"> 13:00</option>
                    <option value="2 PM"> 14:00</option>
                </select>

                <br>
                <label for="text">Type a brief description here of your pet:</label>
                <textarea name="text" rows="10" cols="13" placeholder="type here your description"></textarea>
                <div id="user_input">
                    <center>
                        <input type="submit" id="submit" value="Submit">
                        <input type="reset" id="reset" value="Reset">
                    </center>
                </div>
            </div>
        </form>
    </center>
</section>


<center>
    <div id="cronofy-date-time-picker"></div>
</center>

{%endblock%}