{% extends "base.html" %}
{% block content%}

<center>
    <form id=" appointment" method="POST" action="{% url 'message' %}">
        {%csrf_token%}
        <div class="row user">
            <div class="col-6">
                <p><label for={{form.user.id_for_label}}>Your full name:</label>
                    {{form.user}}</p>

                <p><label for="pet_name">Your pet name:</label>
                    {{form.pet_name}}</h4>

                    <p><label for="date">select day:</label><br>
                        {{form.date}}</p>

                    <p><label for="time">Schedule you appointment</label>
                        {{form.time}}</p>

                    <p><label for="text">Type a brief description of the pet:</label>
                        {{form.text}}</p>
            </div>
        </div>
        <center>
            <input type="submit" id="submit" value="Submit" class="appointment-button">
            <input type="reset" id="reset" value="Reset" class="appointment-button">
        </center>
</center>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{%endblock%}