{% extends "base.html" %}
{% block content%}

<div class="main_text">
    <h2>Vet Tiere</h2>
    <p>Vet Tiere is a prestigious center of research in veterinary medicine and veterinary
        care services. It is one of ten five clincs in London offering veterinary DBFC and physical therapy for all
        animls.
        The research
        activities of Vet Tiere’s 200 clinical units take an interdisciplinary approach and are part of
        a worldwide network.
    </p>
</div>


{%endblock%}