{% extends "base.html" %}
{% block content%}
<center id="messages">
    <p class="message">Your appointment was successfully booked.<br>
        Your appointment on the {{dates}}.<br>
        Your appointment at {{times}}.<br>
        The name of the pet is: {{pet_names}}.
    </p>
</center>

<center>
    <button type="button" class="btn btn-primary btn-lg"><a class="nav-link active" aria-current="page"
            href="{% url 'user' %}">Home</a></button>

    <button type="button" class="btn btn-primary btn-lg"><a class="nav-link active" aria-current="page"
            href="{% url 'user' %}">Appointment</a></button>
</center>


{%endblock%}