{% extends "base.html" %}
{% block content%}


<div class="main_text">
    <h2>Vet Tiere, It is one of the best vets clinic in the world. We have more than ten clinic in USA and more than
        five around the world</h2>
    <p>Vet Tiere is a prestigious center of research in veterinary medicine and veterinary
        care services. It is one of ten five clincs in London offering veterinary DBFC and physical therapy for all
        animls.
        The research
        activities of Vet Tiere’s fifty clinical units take an interdisciplinary approach and are part of
        a worldwide network.
    </p>
    <h4>Press here to book an appointemnt</h4>
    <button<button type="button" class="btn btn-primary btn-lg"><a class="nav-link active" aria-current="page"
            href="{% url 'appointment' %}">Appointment</a></button>

</div>


{%endblock%}