{% extends "base.html" %}
{% block content%}

<!--The title of the page-->
<div>
    <h4 id="funder">
        The funders
    </h4>
</div>

<!--the main here includes three paragraphs abou
    t the funders and 3 pictures for each-->
<section class="container-fluid">
    <div class="row" id="dc_ava">

        <!--image-->
        <div class="col-sm-6 col-md-5" id="doctor-ava" alt="photo of doctor-ava"></div>

        <!--paragraph-->
        <div class="col-sm-5 col-md-6">
            <p class="dc"><span>Doctor Ava Dom</span> graduated from the University of DOMMDONN in 1989
                with a Master of Veterinary Science and located extensively throughout the USA before moving
                down to New York in 1995.

                In 2000, after a further five-year study, Ava achieved RKVS board certification in animal
                internal medicine and is currently the only veterinarian in the surrounding area to have
                this
                qualification. Ava also has a degree in Animal Behaviour and is a government-approved
                Local Vet.

                Between 2000 and 2007 Jon worked in a bag companion Vet hospital, seeing both first opinion
                and
                a variety of referral cases from the University.
            </p>
        </div>
    </div>

    <div class="row" id="dc_jack">
        <!--image-->
        <div class="col-sm-6 col-md-5" id="doctor-jack" alt="photo of doctor jack"></div>

        <!--paragraph-->
        <div class="col-sm-5 col-md-6">
            <p class="dc"><span>Doctor Jack Dom</span> In 1992, after a further four years of study, John
                achieved RKK board certification in animal
                internal medicine and is currently the only veterinarian in the surrounding area to have
                this
                qualification. Jack also has a degree in Animal therapy and is a government-approved
                Local Vet.

                Between 2005 and 2010 Jon worked in a VetRoad hospital, seeing both first opinions and
                a variety of referral cases from the University.</p>
        </div>
    </div>

    <div class="row" id="dc_Annalis">
        <!--image-->
        <div class="col-sm-6 col-md-5" id="doctor-Annalise" alt="photo of doctor Annalis"></div>

        <!--paragraph-->
        <div class="col-sm-5 col-md-6">
            <p class="dc"><span>Doctor Annalise Dom</span> In 1983, after a further seven years of study,
                Annalise
                achieved DRD board certification in house animals
                internal medicine and is currently the only veterinarian in the surrounding area to have
                this
                qualification. Annalise also has a degree in heart operation for house animals and is a
                government approved
                International Vet.

                Between 1995 and 2008 Annalise was the CEO of an international vets clinic, seeing both
                first
                opinion and
                a variety of referral cases from international Universities.</p>
        </div>
    </div>
</section>

{%endblock%}