{% extends "base.html" %}
{% block content%}

<!--The title of the page-->

<h2 id="funder">
    The Vets
</h2>

<!--the main here includes three paragraphs abou
    t the funders and 3 pictures for each-->
<div class="container-fluid">

    <div class="row" id="dc_ava">
        <!--image-->
        <div class="col-sm-6 col-md-4" id="doctor-ava"></div>
        <!--paragraph-->
        <div class="col-sm-5 col-md-7">
            <p class="dc"><span>Doctor Ava Dom</span> is a 2009 graduate of Hillmore University in Houston, Texas, and
                has been with Vet Tiere since 2011. She is dedicated to providing advanced veterinary care to her
                patients while building compassionate relationships with their owners and caregivers.
                As Medical Director, she is an integral part of the management of the medical care Vet Tiere provides
                and helps to ensure that patients always receive the most up-to-date medicine and diagnostics. She has
                advanced training in acupuncture and ultrasonography, which enhance her special interest in internal
                medicine and soft-tissue surgery. She also has additional training in ophthalmology and enjoys helping
                her dermatology patients find relief!</p>
        </div>
    </div>

    <div class="row" id="dc_jack">
        <!--image-->
        <div class="col-sm-6 col-md-4" id="doctor-jack"></div>
        <!--paragraph-->
        <div class="col-sm-5 col-md-7">
            <p class="dc"><span>Doctor Jack Dom</span> was born and raised in Miami, Florida. He obtained his bachelors
                in Small Animal Science and Biotechnology from Jameston University, Arkansas, in 2010. 

                He then attended Springstone University of Veterinary Medicine in Boston, Massachusetts. He graduated in
                2015 after completing his clinical studies at the University of Howard College of Veterinary Medicine.
                Following graduation, Dr. Jack Dom was accepted into and completed a 12-month internship in small animal
                medicine and surgery at Floral Wells Animal Hospital. His current areas of interest include emergency
                and exotic animal medicine.</p>
        </div>
    </div>

    <div class="row" id="dc_Annalis">
        <!--image-->
        <div class="col-sm-6 col-md-4" id="doctor-Annalise"></div>
        <!--paragraph-->
        <div class="col-sm-5 col-md-7">
            <p class="dc"><span>Doctor Annalise Dom</span> Born and raised in Louisville, Kentucky, Dr. Annalise Dom
                obtained her doctorate at the University of Kentucky. She then received advanced training through a
                rotating medical and surgical internship in Dallas, Texas.
                Drawn home to Kentucky, she moved back and spent the next 8 years at a busy 24-hour hospital in
                Elizabethtown. She joined the Vet Tiere team as an emergency vet in 2017.
                Dr. Annalise Dom‘s primary interests are in emergency and critical care, including trauma and endocrine
                emergencies. She has additional interest in cardiac and gastrointestinal emergencies.</p>
        </div>
    </div>

</div>

{%endblock%}