{% extends "base.html" %}
{% load static %}
{% block content%}

<center>
    <form id="appointment" method="POST">
        {% csrf_token %}
        <p><label for="pet_name">Your pet name:</label>
            {{ form.pet_name }}</p>

        <p><label for="date">Select day:</label>
            {{ form.date }}</p>

        <p><label for="oclock">Schedule your appointment:</label>
            {{ form.oclock }}</p>

        <p><label for="text">Type a brief description of the pet:</label>
            {{ form.text }}</p>
        <center>
            <input type="submit" id="submit" value="Book" class="appointment-button" aria-label="book">
            <input type="reset" id="reset" value="Reset" class="appointment-button" aria-label="reset">
        </center>
    </form>
</center>

{%endblock%}