{% extends "base.html" %}
{% load static %}
{% block content%}

<!--Main includes appointment booking panel-->
<center>

    <!--inputs-->
    <form form class="container col-md-7 col-lg-4 appointment" method="POST">
        {% csrf_token %}

        <!--error message when the user enters old date-->
        {% if form.errors%}
        {{ form.non_field_errors }}
        {% for field in form %}
        {%for error in field.errors%}
        <div class="alert alert-danger" role="alert">
            <h5 id="error">{{ error }}</h5>
        </div>
        {%endfor%}
        {%endfor%}
        {%endif%}

        <p><label for="date">Select day:</label>
            {{ form.date }}</p>

        <p><label for="oclock">Schedule your appointment:</label>
            {{ form.oclock }}</p>

        <p><label for="text">Type a brief description of the pet:</label>
            {{ form.text }}</p>

        <!--To submit or to clean the panel-->
        <center>
            <input type="submit" id="submit" value="Update" class="btn btn-primary btn-lg aria-label=" Fix">
            <input type="reset" id="reset" value="Reset" class="btn btn-primary btn-lg aria-label=" reset">
        </center>
    </form>
</center>

{%endblock%}