{% extends "base.html" %}
{% block content%}

<!--Main has the main text and button-->

<!--The main text is a small introduction about the clink-->
<div class="main_text">
    <h2>Vet Tiere-One of the best rated veterinary clinics worldwide.</h2><br>
    <p>
        Vet Tiere is a prestigious medical center in veterinary medicine and veterinary care services. It was ranked as
        one of the top five veterinary clinics in the US by the Animal Care Association. Using modern technology and
        medicine standards as well as excellent patient care, we make sure that our patients as well as their owners
        know they are in good hands.
    </p>

    <!--Allouth buttons-->
    {% if user.is_authenticated %}
    <h4>Click here to book an appointment</h4>
    <button class="btn btn-primary btn-lg"><a class="nav-link active " aria-current="page"
            aria-label="to go to booking panel" href="{% url 'appointment' %}">Appointment</a></button>

    {%else%}
    <h4>Sign up here to book an appointment</h4>
    <a class="nav-link active btn btn-primary btn-lg" aria-current="page" aria-label="to sign up"
        href="{% url 'account_signup' %}">Sign up</a>

    {%endif%}
</div>


{%endblock%}