{% extends "base.html" %}
{% block content%}

<!--If the user has an appointment-->
{% if form %}
<!--The main includes messages to users and buttons-->

<!--The message includes information of the user that the user enters it-->
<center id="messages">

        <p class="message">Your appointment was successfully booked.<br>
                Your appointment is on: {{form.date}}.<br>
                Your appointment is at: {{form.oclock}}.<br>
                Name of your pet: {{form.pet_name}}.
        </p>

</center>

<!--buttons for Update or Delete or go to the homepage-->
<center>
        <h4>Click here to change or delete your appointment</h4>
        <button class="btn btn-primary btn-lg"><a class="nav-link active " aria-current="to eidt an appointment"
                        aria-label="to eidt an appointment" href="{% url 'edit_appointment' user.id %}">Fix</a>
        </button>
        <button class=" btn btn-primary btn-lg"><a class="nav-link active " aria-current="to delete an appointment"
                        aria-label="to delete an appointment" href="{%url 'delete_message' %}">Delete</a>
        </button><br>
        <br>

        <h4>Click here to go to homepage</h4>
        <button type="button" class="btn btn-primary btn-lg"><a class="nav-link active" aria-current="go to hompage"
                        aria-label="to go to the homepage" href="{% url 'homepage' %}">Home</a>
        </button>

        <!--If the user has no appointment-->
        {% else %}
        {{empty}}
        <center>

                <p class="message">It seems that you don't have any booked appointments at the moment.
                        Please click on the appointment button to book an appointment.
                </p><br>


                <h4>Click here to go to homepage</h4>
                <button type="button" class="btn btn-primary btn-lg"><a class="nav-link active"
                                aria-current="go to hompage" aria-label="to go to appointment panel"
                                href="{% url 'appointment' %}">appointment</a>
                </button>

                <h4>Click here to go to homepage</h4>
                <button type="button" class="btn btn-primary btn-lg"><a class="nav-link active"
                                aria-current="go to hompage" aria-label="to go to the homepage"
                                href="{% url 'homepage' %}">Home</a>
                </button>
        </center>
        {% endif %}

</center>
{%endblock%}