{% extends "base.html" %}
{% block content%}


<center id="messages">

        <p class="message">Your appointment was successfully booked.<br>
                Your appointment on the {{dates}}.<br>
                Your appointment at {{oclocks}}.<br>
                The name of the pet is: {{pet_names}}.
        </p>
</center>


<center>

        <h4>Click here to fix or delete your appointment!</h4>
        <button class="btn btn-primary btn-lg"><a class="nav-link active " aria-current="to eidt an appointment"
                        href="{% url 'edit_appointment' user.id %}">Fix</a>
        </button>
        <button class=" btn btn-primary btn-lg"><a class="nav-link active " aria-current="to delete an appointment"
                        href="{%url 'delete_message' %}">Delete</a>
        </button>

        <h4>Click here to go to homepage</h4>
        <button type="button" class="btn btn-primary btn-lg"><a class="nav-link active" aria-current="go to hompage"
                        href="{% url 'homepage' %}">Home</a>
        </button>

</center>

{%endblock%}